/*
 * CardDAV Middleware UI
 * Written by Massi-X <firemetris@gmail.com> © 2023
 * This file is protected under CC-BY-NC-ND-4.0, please see "LICENSE" file for more information
 */

 :root {
	/* generic */
	--light: #fff;
	--background: #fafafa;
	--text-soft: #9e9e9e;
	--link-blue: #2196f3;

	/* borders */
	--form-border: #ddd;
	--tab-border: #bdbdbd;

	/* close buttons or similar */
	--close: #f44336;
	--close-hover: #d32f2f;
	--close-active: #b71c1c;

	/* notification styles */
	--notification-border: #f5f5f5;
	--notification-info: #f1f8e9;
	--notification-error: #ffcdd2;
	--notification-verbose: #ddd;
	--notification-info-delete-background: #b0ca93;
	--notification-info-delete-border: #a6bf8b;
	--notification-error-delete-background: #e57373;
	--notification-error-delete-border: #ef9a9a;
	--notification-verbose-delete-background: #9e9e9e;
	--notification-verbose-delete-border: #919191;

	/* footer help box */
	--help-section-background: #f1fbfc;
	--help-section-border: #b2ebf2;

	/* checkboxes */
	--checkbox-main: var(--text-soft);
	--checkbox-unchecked: #eee;
	--checkbox-checked: #e0e0e0;

	/* radio buttons */
	--radioset-unchecked: #d2ddd8;
	--radioset-checked: #4a7d64;

	/* details sections */
	--details-background: #fffde7;
	--details-border: #fff59d;

	/* summary sections */
	--summary-main: #616161;

	/* fpbx-like styles */
	--fpbx-background: rgba(94, 156, 125, 0.9);
	--fpbx-border: #4a7d64;
	--fpbx-hover: #5e9c7d;

	/* tagify set correct fpbx color */
	--tagify-dd-color-primary: var(--fpbx-background) !important;
}

/* set scroll behavior to the correct value for accessibility */
* {
	scroll-behavior: smooth;
}

@media(prefers-reduced-motion: reduce) {
	* {
		scroll-behavior: auto;
	}
}

/* override default dragsort styles to prevent glithes. See also js or https://github.com/yairEO/dragsort/issues/5#issuecomment-1004465926 */
.dragsort--dragStart .dragsort--hide {
	display: none !important;
}

.dragsort--dragStart>* {
	transition: margin .15s ease-in-out !important;
}

/* fix Sangoma's own footer... */
#footer {
	height: auto !important;
	min-height: 100px;
}

@media screen and (max-width: 991px) {
	#footer #footer_content #footer_logo {
		float: initial !important;
		padding-right: 0 !important;
	}
}

/* fix row height */
.element-container {
	min-height: 42px;
}

/* fix input hiding */
input[hidden] {
	display: none !important;
}

/* class for non-scrollable body */
body.fix {
	overflow: hidden;
}

/* relative position class */
.relative {
	position: relative;
}

/* float right class */
.fl-right {
	float: right;
}

/* fix button style per my taste */
.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus {
	outline: none;
}

/* radioset tabulation selection/focus/active colors */
.radioset label:focus-visible {
	outline: none;
}

.radioset>input:not(:checked)+label:focus-visible {
	background: var(--radioset-unchecked) !important;
}

.radioset>input:checked+label:focus-visible {
	background: var(--radioset-checked) !important;
}

/* better styles for popups */
.ui-dialog {
	max-width: 95vw;
}

.ui-dialog .ui-dialog-content {
	padding: 0.5em 20px 0 !important;
}

.ui-dialog .ui-dialog-buttonpane {
	border-top: none !important;
}

.ui-dialog .ui-dialog-titlebar {
	border-bottom: none !important;
}

.ui-dialog.no-close-btn .ui-dialog-titlebar-close {
	display: none;
}

/* fix non needed scroll in dialogs */
.ui-helper-clearfix:after {
	content: "";
}

/* set an overlay that works correctly with other parts of UI */
.ui-widget-overlay {
	z-index: 1049;
}

/* if you want to lower the overlay and make it darker... */
.ui-widget-overlay.low {
	transition: background-color .25s ease;
	z-index: 1047;
}

.ui-widget-overlay.low.active {
	background-color: rgba(0, 0, 0, 0.3);
}

/* prettier close icon in dialogs */
.ui-dialog-titlebar-close {
	width: 20px !important;
	padding: 0 !important;
	height: 20px !important;
	top: 17.5px !important;
	right: 15px !important;
	margin: 0 !important;
	opacity: 1 !important;
}

.ui-dialog-titlebar-close::before {
	font-family: 'FontAwesome';
	content: "\f057";
	line-height: 20px;
	font-size: 20px;
	opacity: 1;
	color: var(--close);
}

.ui-dialog-titlebar-close:hover::before {
	color: var(--close-hover);
}

.ui-dialog-titlebar-close:active::before {
	color: var(--close-active);
}

/* fix dialog height */
.ui-dialog {
	max-height: calc(100vh - 30px);
	overflow-y: auto;
}

/* keep dialog at center of screen */
.ui-dialog {
	position: fixed !important;
	top: 50% !important;
	left: 50% !important;
	transform: translate(-50%, -50%);
}

/* adjust dialog list per my taste */
.ui-dialog ul li {
	margin-bottom: 5px;
}

#page_body input.form-control,
.ui-dialog input.form-control {
	min-height: 37px;
	border-color: var(--form-border);
}

#page_body input.form-control:hover:enabled,
.ui-dialog input.form-control:hover:enabled,
#page_body input.form-control:focus:enabled,
.ui-dialog input.form-control:focus:enabled {
	box-shadow: none;
	border-color: var(--fpbx-background);
}

#page_body input.form-control:focus,
.ui-dialog input.form-control:focus {
	box-shadow: none;
}

/* fix fpbx-tagify conflict see issue https://github.com/yairEO/tagify/issues/1110 */
.tagify {
	height: auto;
	--tag-inset-shadow-size: 1.3em !important;
}

/* adjust select (single-value mode) style of tagify per my needs */
.phone_type__tagify .tagify__input::selection {
	background: transparent;
}

.tagify--select .tagify__tag__removeBtn {
	display: none !important;
}

/* overcome tagify visibility hidden after loading */
.tagify {
	visibility: visible !important;
}

/* align tagify and inputs to the same styles */
.tagify {
	--tags-focus-border-color: var(--fpbx-background) !important;
	--tags-hover-border-color: var(--fpbx-background) !important;
	--tag-border-radius: 4px !important;
}

/* adjust input style of tagify per my needs */
.phone_type__tagify,
.output_construct__tagify {
	cursor: pointer !important;
}

/* To be used together to place a button beside an input */
.col-md-9-flex {
	display: flex;
}

.form-control-flex {
	flex: 1;
}

.btn-input-flex {
	margin-left: 10px;
}

/* custom checkbox */
.ph-checkbox {
	display: block;
	user-select: none;
	cursor: pointer;
	height: 25px;
	width: 25px;
}

.ph-checkbox>input {
	position: absolute;
	opacity: 0;
	cursor: pointer;
	height: 0;
	width: 0;
}

.ph-checkbox>span {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	border-radius: 0.3em;
	border: 1px solid var(--checkbox-main);
	background-color: var(--background);
}

.ph-checkbox>span:after {
	font: normal normal normal 14px/1 FontAwesome;
	content: "\f00c";
	position: absolute;
	color: var(--checkbox-main);
	left: 5px;
	top: 5px;
	width: 5px;
	height: 10px;
}

.ph-checkbox:hover input:not(:checked)~span {
	background-color: var(--checkbox-unchecked);
}

.ph-checkbox:active input:not(:checked)~span,
.ph-checkbox>input:not(:checked):focus-visible~span {
	background-color: var(--checkbox-checked);
}

.ph-checkbox>input:checked~span {
	background-color: var(--fpbx-background);
	border-color: var(--fpbx-border);
}

.ph-checkbox:hover input:checked~span {
	background-color: var(--fpbx-hover);
}

.ph-checkbox:active input:checked~span,
.ph-checkbox>input:checked:focus-visible~span {
	background-color: var(--fpbx-border);
}

.ph-checkbox>input:checked~span:after {
	display: block;
	color: var(--light);
}

/* checkbox inside max cnam output */
#max_cnam_container {
	position: relative;
}

#max_cnam_container>input[type="number"] {
	padding-left: 37px;
	transition: outline-color 0.25s ease;
	outline: solid 1px transparent;
}

.input-invalid-blink {
	border-color: var(--close) !important;
	outline-color: var(--close) !important;
}

#max_cnam_container>.ph-checkbox {
	position: absolute;
	margin: 6px 6px;
}

/* Other styles */
pre {
	white-space: pre-line;
}

.notvisible {
	visibility: hidden;
}

details {
	padding: 5px;
	background: var(--details-background);
	border: 1px solid var(--details-border);
	border-radius: 4px;
}

summary {
	cursor: pointer;
	color: var(--summary-main);
}

summary::-webkit-details-marker {
	display: none;
}

summary:before {
	content: "►";
	font-size: 10px;
	padding-right: 5px;
}

details[open] summary:before {
	content: "▼";
}

.col-md-9.flexible {
	display: flex;
	align-items: center;
}

.header-img {
	height: 30px;
}

.ph-header {
	display: flex;
	align-items: center;
	margin-bottom: 3px;
}

.ph-header>.title,
.ph-header>.activation {
	display: flex;
	align-items: center;
}

.ph-header>div>*:not(script):not(style) {
	display: inline-flex;
	flex-shrink: 0;
}

.ph-header>div>*:not(:first-child) {
	margin-left: 8px;
}

.ph-header>.title {
	flex: 1;
	order: 1;
}

.ph-header>.activation {
	order: 2;
}

.ph-header>.title>h2 {
	margin-bottom: 0;
}

ul.numeric-list {
	list-style: decimal;
}

ul.numeric-list> ::marker {
	font-weight: bold;
}

.item-info {
	font-size: 12px;
	color: var(--text-soft);
	margin-left: 10px;
}

.element-container.flexible {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.btn-magic {
	display: inline-block;
	margin: 5px 5px;
}

.btn-magic>* {
	text-decoration: none !important;
}

.btn-magic>i {
	padding-right: 9px;
	font-size: 18px;
	line-height: 18px;
	vertical-align: middle;
}

.btn-popup {
	display: inline-block;
	font-weight: bold;
	text-decoration: underline;
	color: var(--link-blue);
}

.btn-popup:visited:not(:hover) {
	color: var(--link-blue);
}

.btn-popup>i {
	text-decoration: underline;
	font-weight: bold;
}

.btn-submit {
	float: right;
	margin: 10px 10px 5px 0;
}

#restoredonationPopup>form>input {
	min-width: 300px;
}

.help-section {
	display: inline-block;
	margin: 5px;
	background: var(--help-section-background);
	border: 1px solid var(--help-section-border);
	border-radius: 4px;
}

.help-section a {
	padding: 8px;
}

.help-section a:nth-child(odd) {
	border-right: 1px solid var(--help-section-border);
}

.footer {
	width: 100%;
	margin: 0;
	padding: 10px 0;
	border: none;
	font-size: 11px;
	text-align: center;
}

.footer>b:first-of-type {
	display: inline-block;
	margin-bottom: 4px;
}

a:hover>i.fa {
	text-decoration: underline;
}

/* Nice rotating animation for spinners */
.fa.fa-spinner.letsspin {
	animation: 1.4s linear;
	animation-name: spinner-fa;
	animation-iteration-count: infinite;
	animation-direction: normal;
}

@keyframes spinner-fa {
	from {
		transform: rotate(0deg);
	}

	to {
		transform: rotate(360deg);
	}
}

/* arrow to indicate something (for popups) */
.arrow-container::before,
.arrow-container::after {
	content: '';
	position: absolute;
	display: block;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 10px;
}

.arrow-container::after {
	border-color: transparent transparent var(--light) transparent;
}

.arrow-container::before {
	border-color: transparent transparent var(--tab-border) transparent;
}

/* Carddav setup popup custom styles */
#setupCarddav input[type=text],
#setupCarddav input[type=password] {
	width: 100%;
	min-width: 300px;
}

.ui-dialog-content>form>.btn {
	float: right;
	margin: 10px 0;
	font-size: inherit;
}

#carddav_result {
	user-select: none;
	width: calc(100% - 4px);
	border-collapse: collapse;
	margin: 0 2px;
}

#carddav_result tr {
	height: 23px;
	cursor: default;
}

#carddav_result th,
#carddav_result td {
	border: 1px solid var(--tab-border);
	padding: 0 5px;
}

#carddav_result th:nth-child(1),
#carddav_result th:nth-child(2),
#carddav_result td:nth-child(1),
#carddav_result td:nth-child(2) {
	width: 0;
	text-align: center;
}

#carddav_result th:last-child,
#carddav_result td:last-child>*:not(b) {
	word-break: break-all;
}

#carddav_result td>i.fa {
	line-height: 23px;
	font-size: 16px;
	vertical-align: middle;
	cursor: grab;
}

.carddav-setup-line label {
	margin-bottom: 0;
	margin-right: 10px;
}

#carddav_parameters tbody tr {
	width: 100%;
	display: inline-grid;
	margin-bottom: 10px;
}

.carddav_info {
	font-size: 12px;
	color: va(--text-soft);
}

.carddav_info.small_padding {
	margin: 3px 2px 0 2px;
}

.carddav_info.large_padding {
	margin: 3px 5px 0 5px;
}

/* Notification UI */
#notification-ui {
	display: flex;
	order: 3;
	position: relative;
	margin: 0 5px;
}

#notification-ui p {
	margin: 0;
}

#notification-header {
	cursor: pointer;
	font-size: 25px;
	border-radius: 0.3em;
}

#notification-count {
	position: absolute;
	pointer-events: none;
	display: flex;
	justify-content: center;
	vertical-align: middle;
	height: 17px;
	width: 17px;
	right: -5px;
	top: -3px;
	z-index: 101;
	background: var(--close);
	color: var(--light);
	font-size: 12px;
	line-height: 17px;
	font-weight: bold;
	border-radius: 17px;
}

#notification-container {
	position: absolute;
	display: flex;
	flex-direction: column;
	pointer-events: none;
	z-index: 99;
	top: 38px;
	right: -4px;
	width: 35vw;
	min-width: 600px;
	max-width: 800px;
	max-height: 60vh;
	opacity: 0;
	visibility: hidden;
	border: 1px solid var(--tab-border);
	border-radius: 0.3em;
	background: var(--light);
	transition: all .25s ease;
}

#notification-container:after,
#notification-container::before {
	right: 5px;
	top: -21px;
}

#notification-container:after {
	top: -20px;
}

#notification-container>.delete-all {
	pointer-events: all;
	padding: 10px 14px;
}

.bubble-container {
	pointer-events: all;
	max-height: calc(60vh - 20px);
	padding: 0 10px 7px 10px;
	overflow: scroll;
}

#notification-ui.open>#notification-container {
	visibility: visible;
	opacity: 1;
}

.notification-bubble {
	padding: 10px 15px;
	margin-bottom: 3px;
	border-radius: 0.3em;
	font-size: 14px;
	line-height: 25px;
	border: 1px solid var(--notification-border);
	word-break: break-word;
}

.notification-bubble.info {
	background-color: var(--notification-info);
}

.notification-bubble.error {
	background-color: var(--notification-error);
}

.notification-bubble.verbose {
	background-color: var(--notification-verbose);
}

.notification-bubble>button,
#notification-container>.delete-all>button {
	float: right;
	border-radius: 12.5px;
	font-weight: bold;
	color: var(--light);
}

.notification-bubble>button {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	height: 26px;
	width: 26px;
	margin: 0 -6px;
}

.notification-bubble.info>button {
	background-color: var(--notification-info-delete-background);
	border: 1px solid var(--notification-info-delete-border);
}

.notification-bubble.error>button,
#notification-container>.delete-all>button {
	background-color: var(--notification-error-delete-background);
	border: 1px solid var(--notification-error-delete-border);
}

.notification-bubble.verbose>button {
	background-color: var(--notification-verbose-delete-background);
	border: 1px solid var(--notification-verbose-delete-border);
}

.notification-bubble>button:hover,
#notification-container>.delete-all>button:hover {
	background: var(--close);
	border: 1px solid var(--close);
}

.notification-bubble>button:focus,
#notification-container>.delete-all>button:focus {
	background: var(--close-active);
	border: 1px solid var(--close-active);
}

.bell-shake {
	animation: 10s linear;
	animation-name: bell-shake;
	animation-iteration-count: infinite;
	animation-direction: normal;
}

@keyframes bell-shake {
	0% {
		transform: rotate(0deg);
	}

	94% {
		transform: rotate(0deg);
	}

	95% {
		transform: rotate(-5deg);
	}

	96% {
		transform: rotate(5deg);
	}

	97% {
		transform: rotate(-5deg);
	}

	98% {
		transform: rotate(5deg);
	}

	99% {
		transform: rotate(-5deg);
	}

	100% {
		transform: rotate(0deg);
	}
}

/* Autoselect trick used for inputs */
.autoselect_container {
	width: 100% !important;
	margin-top: 5px !important;
	padding: 4px 10px !important;
	border-radius: 3em !important;
	border: 1px solid var(--tab-border) !important;
	background: var(--background) !important;
	box-shadow: none !important;
	outline: none !important;
	font-family: inherit !important;
	font-size: inherit !important;
	color: inherit !important;
	text-overflow: ellipsis;
}

/* welcome popups/tips classes */
.tips {
	position: absolute;
	visibility: hidden;
	width: 300px;
	max-width: 100vw;
	opacity: 0;
	padding: 20px;
	background: var(--background);
	border: 1px solid var(--tab-border);
	border-radius: 1em;
	user-select: none;
	font-weight: normal;
	transition: opacity .15s ease .5s;
}

.tips .btn {
	margin-right: 0;
}

/* arrows and positioning for tips popups */
.tips[data-tips="1"],
.tips[data-tips="4"] {
	top: -10px;
	transform: translateY(-100%);
}

.tips[data-tips="1"]::after,
.tips[data-tips="1"]::before,
.tips[data-tips="4"]::after,
.tips[data-tips="4"]::before {
	left: 35px;
	bottom: -21px;
	rotate: 180deg;
}

.tips[data-tips="1"]::after,
.tips[data-tips="4"]::after {
	bottom: -20px;
}

@media screen and (min-width: 992px) {
	.tips[data-tips="2"] {
		transform: translateX(-100%);
		top: -30px;
		left: -10px;
	}

	.tips[data-tips="2"]::after,
	.tips[data-tips="2"]::before {
		right: -21px;
		top: 35px;
		rotate: 90deg;
	}

	.tips[data-tips="2"]::after {
		right: -20px;
	}
}

@media screen and (max-width: 991px) {
	.tips[data-tips="2"] {
		top: -20px;
		right: 0;
		transform: translateY(-100%);
	}

	.tips[data-tips="2"]::after,
	.tips[data-tips="2"]::before {
		right: 35px;
		bottom: -21px;
		rotate: 180deg;
	}

	.tips[data-tips="2"]::after {
		bottom: -20px;
	}
}

@media screen and (min-width: 992px) {

	.tips[data-tips="3"] {
		transform: translateX(100%) translateY(50%);
		bottom: 0;
	}

	.tips[data-tips="3"]::after,
	.tips[data-tips="3"]::before {
		left: -21px;
		bottom: 50%;
		rotate: 270deg;
	}

	.tips[data-tips="3"]::after {
		left: -20px;
	}
}

@media screen and (max-width: 991px) {

	.tips[data-tips="3"] {
		bottom: 40px;
	}

	.tips[data-tips="3"]::after,
	.tips[data-tips="3"]::before {
		left: 45%;
		bottom: -21px;
		rotate: 180deg;
	}

	.tips[data-tips="3"]::after {
		bottom: -20px;
	}
}

/* elevate tips and other elements to show them above the overlay */
.overlayed>.tips,
.overlayed>* {
	z-index: 1048;
}

.overlayed>*:not(.tips) {
	position: relative;
}

.tips.visible {
	visibility: visible;
	opacity: 1;
}

@media screen and (max-width: 1023px) {

	/* set a minimum width for dialogs on small screens to prevent them from being ridiculous */
	.ui-dialog {
		min-width: 80vw;
	}
}

@media screen and (min-width: 768px) {
	.visible-mobile {
		display: none;
	}
}

@media screen and (max-width: 767px) {
	.visible-desktop {
		display: none;
	}
}

@media screen and (max-width: 991px) {
	#notification-ui {
		order: 2;
	}

	.ph-header>.activation {
		order: 3;
	}

	.ph-header {
		flex-wrap: wrap;
	}

	.ph-header>.activation {
		margin-top: 8px;
	}

	.ph-header>.title,
	.ph-header>.activation {
		width: 100%;
		white-space: nowrap;
		overflow: hidden;
	}

	#notification-ui {
		margin-left: auto;
	}

	#notification-container {
		width: 94.4vw;
		min-width: 0;
	}

	.help-section a {
		width: calc(50% - 2px);
		text-align: center;
		vertical-align: middle;
	}
}