/*
 * CardDAV Middleware UI
 * Written by Massi-X <support@massi-x.dev> © 2024
 * This file is protected under CC-BY-NC-ND-4.0, please see "LICENSE" file for more information
 */

 :root {
	--timepicker-background: #fff;
	--timepicker-background-dark: #fafafa;
	--timepicker-border: #ddd;
	--timepicker-border-dark: #959595;
	--timepicker-hover: #eee;
	--timepicker-text: #000;
	--timepicker-gray: #616161;
	--timepicker-fpbx: rgba(94, 156, 125, 0.9);
}

.__timepicker-container {
	display: flex;
	height: 39px;
	padding: 0;
	background: var(--timepicker-background);
	border: 1px solid var(--timepicker-border);
}

.__timepicker-container:hover,
.__timepicker-container:focus-within {
	border-color: var(--timepicker-fpbx) !important;
}

.__timepicker-div {
	position: relative;
	margin: 0;
	flex: 1;
	border-right: 1px solid var(--timepicker-border);
}

.__timepicker-div:last-child {
	border-right: 0;
}

.__timepicker-div>input {
	width: 100%;
	height: 100%;
	pointer-events: none;
	background: transparent;
	border: 0;
	padding-left: 66px;
	outline: none !important;
	box-shadow: none !important;
	color: var(--timepicker-text);
}

.__timepicker-div>span {
	position: absolute;
	height: calc(100% - 3px);
	cursor: default;
	background: var(--timepicker-background);
	right: 0;
	margin-top: 3px;
	margin-right: 1px;
	padding: 0 6px;
	color: var(--timepicker-gray);
}

.__timepicker-div>input::selection,
.__timepicker-div>span::selection {
	background: transparent;
}

.__timepicker-div>span:before {
	content: "";
	display: inline-block;
	height: 100%;
	vertical-align: middle;
}

.__timepicker-button-container {
	position: absolute;
	margin: 7px 9px;
}

.__timepicker-button-container label {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	height: 24px;
	width: 24px;
	cursor: pointer;
	margin: 0;
	border: 1px solid var(--timepicker-border-dark);
	border-radius: 0;
	background: var(--timepicker-background-dark);
	color: var(--timepicker-gray);
}

.__timepicker-button-container label:hover {
	background: var(--timepicker-hover);
}

.__timepicker-button-container label:active,
.__timepicker-button-container label:focus-visible {
	outline: none;
	background: var(--timepicker-border);
}

.__timepicker-button-container label:last-child {
	border-left: 0;
	border-top-right-radius: 0.2em;
	border-bottom-right-radius: 0.2em;
}

.__timepicker-button-container label:first-child {
	border-top-left-radius: 0.2em;
	border-bottom-left-radius: 0.2em;
}

.__timepicker-arrow-down,
.__timepicker-arrow-up {
	width: 0;
	height: 0;
	border-left: 7px solid transparent;
	border-right: 7px solid transparent;
}

.__timepicker-arrow-up {
	border-bottom: 7px solid var(--timepicker-gray);
}

.__timepicker-arrow-down {
	border-top: 7px solid var(--timepicker-gray);
}

@media screen and (max-width: 767px) {
	.__timepicker-container {
		display: block;
		height: 117px;
	}

	.__timepicker-div {
		height: 39px;
		border-bottom: 1px solid var(--timepicker-border);
		border-right: 0;
	}

	.__timepicker-div:last-child {
		border-bottom: 0;
	}

	.__timepicker-div>span {
		height: calc(100% - 9px);
		margin-top: 5px;
	}
}